-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: seperlima
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anggota`
--

DROP TABLE IF EXISTS `anggota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anggota` (
  `id_anggota` int NOT NULL AUTO_INCREMENT,
  `id_prodi` int DEFAULT NULL,
  `no_identitas` varchar(50) NOT NULL,
  `status` enum('mahasiswa','dosen','tendik') NOT NULL,
  `nama_anggota` varchar(150) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id_anggota`),
  UNIQUE KEY `email` (`email`),
  KEY `id_prodi` (`id_prodi`),
  CONSTRAINT `anggota_ibfk_1` FOREIGN KEY (`id_prodi`) REFERENCES `program_studi` (`id_prodi`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anggota`
--

LOCK TABLES `anggota` WRITE;
/*!40000 ALTER TABLE `anggota` DISABLE KEYS */;
INSERT INTO `anggota` VALUES (1,1,'21101001','mahasiswa','Budi Santoso','budi.ti@example.com'),(2,1,'21101002','mahasiswa','Siti Rahmawati','siti.ti@example.com'),(3,2,'21102001','mahasiswa','Andi Wijaya','andi.si@example.com'),(4,3,'21103001','mahasiswa','Dewi Lestari','dewi.mnj@example.com'),(5,4,'21104001','mahasiswa','Rina Kurniasih','rina.ak@example.com'),(6,5,'21105001','mahasiswa','Ahmad Fauzi','ahmad.pm@example.com'),(7,1,'NIP19800101','dosen','Dr. Rudi Pratama','rudi.dosen@example.com'),(8,2,'NPP001','tendik','Yuni Pustakawan','yuni.tendik@example.com');
/*!40000 ALTER TABLE `anggota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buku`
--

DROP TABLE IF EXISTS `buku`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buku` (
  `id_buku` int NOT NULL AUTO_INCREMENT,
  `kode_judul` int NOT NULL,
  `kode_klasifikasi` int NOT NULL,
  `tahun_terbit` year DEFAULT NULL,
  `isbn` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`id_buku`),
  KEY `kode_judul` (`kode_judul`),
  KEY `kode_klasifikasi` (`kode_klasifikasi`),
  CONSTRAINT `buku_ibfk_1` FOREIGN KEY (`kode_judul`) REFERENCES `judul` (`kode_judul`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `buku_ibfk_2` FOREIGN KEY (`kode_klasifikasi`) REFERENCES `klasifikasi` (`kode_klasifikasi`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buku`
--

LOCK TABLES `buku` WRITE;
/*!40000 ALTER TABLE `buku` DISABLE KEYS */;
INSERT INTO `buku` VALUES (1,1,1,2018,'978-602-001-001'),(2,2,2,2020,'978-602-002-002'),(3,3,3,2017,'978-602-003-003'),(4,4,4,2019,'978-602-004-004'),(5,5,5,2021,'978-602-005-005'),(6,6,6,2016,'978-602-006-006'),(7,7,7,2015,'978-602-007-007'),(8,8,8,2022,'978-602-008-008');
/*!40000 ALTER TABLE `buku` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buku_pengarang`
--

DROP TABLE IF EXISTS `buku_pengarang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buku_pengarang` (
  `id_buku_pengarang` int NOT NULL AUTO_INCREMENT,
  `id_buku` int NOT NULL,
  `kode_pengarang` int NOT NULL,
  `urutan_pengarang` int DEFAULT NULL,
  PRIMARY KEY (`id_buku_pengarang`),
  KEY `id_buku` (`id_buku`),
  KEY `kode_pengarang` (`kode_pengarang`),
  CONSTRAINT `buku_pengarang_ibfk_1` FOREIGN KEY (`id_buku`) REFERENCES `buku` (`id_buku`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `buku_pengarang_ibfk_2` FOREIGN KEY (`kode_pengarang`) REFERENCES `pengarang` (`kode_pengarang`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buku_pengarang`
--

LOCK TABLES `buku_pengarang` WRITE;
/*!40000 ALTER TABLE `buku_pengarang` DISABLE KEYS */;
INSERT INTO `buku_pengarang` VALUES (1,1,1,1),(2,2,2,1),(3,3,3,1),(4,4,4,1),(5,5,5,1),(6,6,6,1),(7,7,7,1),(8,8,2,1),(9,8,3,2);
/*!40000 ALTER TABLE `buku_pengarang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fakultas`
--

DROP TABLE IF EXISTS `fakultas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fakultas` (
  `id_fakultas` int NOT NULL AUTO_INCREMENT,
  `kode_fakultas` varchar(20) NOT NULL,
  `nama_fakultas` varchar(150) NOT NULL,
  PRIMARY KEY (`id_fakultas`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fakultas`
--

LOCK TABLES `fakultas` WRITE;
/*!40000 ALTER TABLE `fakultas` DISABLE KEYS */;
INSERT INTO `fakultas` VALUES (1,'FT','Fakultas Teknik'),(2,'FEB','Fakultas Ekonomi dan Bisnis'),(3,'FKIP','Fakultas Keguruan dan Ilmu Pendidikan');
/*!40000 ALTER TABLE `fakultas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `judul`
--

DROP TABLE IF EXISTS `judul`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `judul` (
  `kode_judul` int NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) NOT NULL,
  PRIMARY KEY (`kode_judul`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `judul`
--

LOCK TABLES `judul` WRITE;
/*!40000 ALTER TABLE `judul` DISABLE KEYS */;
INSERT INTO `judul` VALUES (1,'Pemrograman Web dengan PHP'),(2,'Sistem Basis Data Lanjut'),(3,'Manajemen Pemasaran'),(4,'Metode Penelitian Kuantitatif'),(5,'Algoritma dan Struktur Data'),(6,'Strategi Pembelajaran Matematika'),(7,'Akuntansi Biaya'),(8,'Pengantar Sistem Informasi Manajemen');
/*!40000 ALTER TABLE `judul` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `klasifikasi`
--

DROP TABLE IF EXISTS `klasifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `klasifikasi` (
  `kode_klasifikasi` int NOT NULL AUTO_INCREMENT,
  `kategori_buku` varchar(100) NOT NULL,
  PRIMARY KEY (`kode_klasifikasi`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `klasifikasi`
--

LOCK TABLES `klasifikasi` WRITE;
/*!40000 ALTER TABLE `klasifikasi` DISABLE KEYS */;
INSERT INTO `klasifikasi` VALUES (1,'Teknologi Informasi'),(2,'Basis Data'),(3,'Pemasaran'),(4,'Metodologi Penelitian'),(5,'Algoritma & Pemrograman'),(6,'Pendidikan'),(7,'Akuntansi'),(8,'Sistem Informasi Manajemen');
/*!40000 ALTER TABLE `klasifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `peminjaman`
--

DROP TABLE IF EXISTS `peminjaman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `peminjaman` (
  `id_peminjaman` int NOT NULL AUTO_INCREMENT,
  `id_anggota` int NOT NULL,
  `id_petugas` int NOT NULL,
  `id_buku` int NOT NULL,
  `tgl_pinjam` datetime NOT NULL,
  `tgl_kembali` datetime DEFAULT NULL,
  `durasi_peminjaman` int DEFAULT NULL,
  `denda_buku` int DEFAULT '0',
  `status` enum('Tersedia','Hilang','Dipinjam','Rusak') NOT NULL,
  PRIMARY KEY (`id_peminjaman`),
  KEY `id_anggota` (`id_anggota`),
  KEY `id_petugas` (`id_petugas`),
  KEY `id_buku` (`id_buku`),
  CONSTRAINT `peminjaman_ibfk_1` FOREIGN KEY (`id_anggota`) REFERENCES `anggota` (`id_anggota`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `peminjaman_ibfk_2` FOREIGN KEY (`id_petugas`) REFERENCES `petugas` (`id_petugas`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `peminjaman_ibfk_3` FOREIGN KEY (`id_buku`) REFERENCES `buku` (`id_buku`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peminjaman`
--

LOCK TABLES `peminjaman` WRITE;
/*!40000 ALTER TABLE `peminjaman` DISABLE KEYS */;
/*!40000 ALTER TABLE `peminjaman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengarang`
--

DROP TABLE IF EXISTS `pengarang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengarang` (
  `kode_pengarang` int NOT NULL AUTO_INCREMENT,
  `nama_pengarang` varchar(150) NOT NULL,
  PRIMARY KEY (`kode_pengarang`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengarang`
--

LOCK TABLES `pengarang` WRITE;
/*!40000 ALTER TABLE `pengarang` DISABLE KEYS */;
INSERT INTO `pengarang` VALUES (1,'Abdul Kadir'),(2,'Rosa A.S'),(3,'Philip Kotler'),(4,'Sugiyono'),(5,'Thomas H. Cormen'),(6,'Richard F. Gagne'),(7,'Mulyadi');
/*!40000 ALTER TABLE `pengarang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `petugas`
--

DROP TABLE IF EXISTS `petugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `petugas` (
  `id_petugas` int NOT NULL AUTO_INCREMENT,
  `nama_petugas` varchar(150) NOT NULL,
  `no_hp` varchar(30) DEFAULT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_petugas`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `petugas`
--

LOCK TABLES `petugas` WRITE;
/*!40000 ALTER TABLE `petugas` DISABLE KEYS */;
INSERT INTO `petugas` VALUES (1,'Slamet Riyadi','081234567001','Jl. Kenanga No. 1'),(2,'Lina Marlina','081234567002','Jl. Mawar No. 5'),(3,'Doni Prasetyo','081234567003','Jl. Melati No. 10');
/*!40000 ALTER TABLE `petugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_studi`
--

DROP TABLE IF EXISTS `program_studi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `program_studi` (
  `id_prodi` int NOT NULL AUTO_INCREMENT,
  `id_fakultas` int NOT NULL,
  `nama_prodi` varchar(150) NOT NULL,
  `jenjang` varchar(10) NOT NULL,
  PRIMARY KEY (`id_prodi`),
  KEY `id_fakultas` (`id_fakultas`),
  CONSTRAINT `program_studi_ibfk_1` FOREIGN KEY (`id_fakultas`) REFERENCES `fakultas` (`id_fakultas`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_studi`
--

LOCK TABLES `program_studi` WRITE;
/*!40000 ALTER TABLE `program_studi` DISABLE KEYS */;
INSERT INTO `program_studi` VALUES (1,1,'Teknik Informatika','S1'),(2,1,'Sistem Informasi','S1'),(3,2,'Manajemen','S1'),(4,2,'Akuntansi','S1'),(5,3,'Pendidikan Matematika','S1');
/*!40000 ALTER TABLE `program_studi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_peminjaman_detail`
--

DROP TABLE IF EXISTS `vw_peminjaman_detail`;
/*!50001 DROP VIEW IF EXISTS `vw_peminjaman_detail`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_peminjaman_detail` AS SELECT 
 1 AS `id_peminjaman`,
 1 AS `tgl_pinjam`,
 1 AS `tgl_kembali`,
 1 AS `durasi_peminjaman`,
 1 AS `denda_buku`,
 1 AS `status_peminjaman`,
 1 AS `id_anggota`,
 1 AS `no_identitas`,
 1 AS `status_anggota`,
 1 AS `nama_anggota`,
 1 AS `email`,
 1 AS `nama_prodi`,
 1 AS `jenjang`,
 1 AS `nama_fakultas`,
 1 AS `id_buku`,
 1 AS `judul`,
 1 AS `kategori_buku`,
 1 AS `tahun_terbit`,
 1 AS `isbn`,
 1 AS `id_petugas`,
 1 AS `nama_petugas`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_peminjaman_detail`
--

/*!50001 DROP VIEW IF EXISTS `vw_peminjaman_detail`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_peminjaman_detail` AS select `p`.`id_peminjaman` AS `id_peminjaman`,`p`.`tgl_pinjam` AS `tgl_pinjam`,`p`.`tgl_kembali` AS `tgl_kembali`,`p`.`durasi_peminjaman` AS `durasi_peminjaman`,`p`.`denda_buku` AS `denda_buku`,`p`.`status` AS `status_peminjaman`,`a`.`id_anggota` AS `id_anggota`,`a`.`no_identitas` AS `no_identitas`,`a`.`status` AS `status_anggota`,`a`.`nama_anggota` AS `nama_anggota`,`a`.`email` AS `email`,`ps`.`nama_prodi` AS `nama_prodi`,`ps`.`jenjang` AS `jenjang`,`f`.`nama_fakultas` AS `nama_fakultas`,`b`.`id_buku` AS `id_buku`,`j`.`judul` AS `judul`,`k`.`kategori_buku` AS `kategori_buku`,`b`.`tahun_terbit` AS `tahun_terbit`,`b`.`isbn` AS `isbn`,`pt`.`id_petugas` AS `id_petugas`,`pt`.`nama_petugas` AS `nama_petugas` from (((((((`peminjaman` `p` join `anggota` `a` on((`p`.`id_anggota` = `a`.`id_anggota`))) left join `program_studi` `ps` on((`a`.`id_prodi` = `ps`.`id_prodi`))) left join `fakultas` `f` on((`ps`.`id_fakultas` = `f`.`id_fakultas`))) join `buku` `b` on((`p`.`id_buku` = `b`.`id_buku`))) join `judul` `j` on((`b`.`kode_judul` = `j`.`kode_judul`))) join `klasifikasi` `k` on((`b`.`kode_klasifikasi` = `k`.`kode_klasifikasi`))) join `petugas` `pt` on((`p`.`id_petugas` = `pt`.`id_petugas`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-10 10:59:49
